<div style="width: 60vw; background-color: white" nz-row>
  <div nz-col nzSpan="12" style="padding: 40px">
    <h1>Đăng ký</h1>
    <form
      nz-form
      [formGroup]="registerForm"
      class="login-form"
      (ngSubmit)="submitForm()"
      nzLayout="vertical"
    >
      <nz-form-item style="width: 100%">
        <nz-form-label
          [nzSm]="12"
          [nzXs]="24"
          nzRequired
          nzFor="userName"
          style="font-weight: 600"
          >Tên người dùng</nz-form-label
        >
        <nz-form-control
          [nzSm]="24"
          [nzXs]="24"
          [nzErrorTip]="
            registerForm.get('userName')?.hasError('required') &&
            (registerForm.get('userName')?.dirty ||
              registerForm.get('userName')?.touched)
              ? 'Vui lòng nhập tên người dùng'
              : registerForm.get('userName')?.hasError('minlength') &&
                (registerForm.get('userName')?.dirty ||
                  registerForm.get('userName')?.touched)
              ? 'Tên người dùng phải có ít nhất 3 ký tự'
              : registerForm.get('userName')?.hasError('maxlength') &&
                (registerForm.get('userName')?.dirty ||
                  registerForm.get('userName')?.touched)
              ? 'Tên người dùng chỉ có nhiều nhất 10 ký tự'
              : undefined
          "
          style="width: 100%"
        >
          <input
            nz-input
            formControlName="userName"
            id="userName"
            style="width: 100%; border-radius: 8px; height: 40px"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="width: 100%">
        <nz-form-label
          [nzSm]="12"
          [nzXs]="24"
          nzRequired
          nzFor="email"
          style="font-weight: 600"
          >E-mail</nz-form-label
        >
        <nz-form-control
          [nzSm]="24"
          [nzXs]="24"
          [nzErrorTip]="
            registerForm.get('email')?.hasError('required')
              ? 'Vui lòng nhập email!'
              : 'Email không hợp lệ'
          "
          style="width: 100%"
        >
          <input
            nz-input
            formControlName="email"
            id="email"
            style="width: 100%; border-radius: 8px; height: 40px"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="12"
          [nzXs]="24"
          nzFor="password"
          nzRequired
          style="font-weight: 600"
          >Mật khẩu</nz-form-label
        >
        <nz-form-control
          [nzSm]="24"
          [nzXs]="24"
          [nzErrorTip]="
            registerForm.get('password')?.hasError('required') &&
            (registerForm.get('password')?.dirty ||
              registerForm.get('password')?.touched)
              ? 'Vui lòng nhập mật khẩu'
              : registerForm.get('password')?.hasError('minlength') &&
                (registerForm.get('password')?.dirty ||
                  registerForm.get('password')?.touched)
              ? 'Mật khẩu phải có ít nhất 6 ký tự'
              : undefined
          "
        >
          <input
            nz-input
            type="password"
            id="password"
            formControlName="password"
            style="width: 100%; border-radius: 8px; height: 40px"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="14"
          [nzXs]="24"
          nzFor="confirmPassword"
          nzRequired
          style="font-weight: 600"
          >Nhập lại mật khẩu</nz-form-label
        >
        <nz-form-control
          [nzSm]="24"
          [nzXs]="24"
          [nzErrorTip]="
            registerForm.get('confirmPassword')?.hasError('required') &&
            (registerForm.get('confirmPassword')?.dirty ||
              registerForm.get('confirmPassword')?.touched)
              ? 'Vui lòng xác nhận mật khẩu'
              : registerForm.get('confirmPassword')?.hasError('confirmMismatch')
              ? 'Mật khẩu xác nhận không khớp'
              : undefined
          "
        >
          <input
            nz-input
            type="password"
            id="confirmpassword"
            formControlName="confirmPassword"
            style="width: 100%; border-radius: 8px; height: 40px"
          />
        </nz-form-control>
      </nz-form-item>
      <button
        nzSize="large"
        nz-button
        nzType="primary"
        nzShape="round"
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
        style="width: 100%"
      >
        Đăng ký
      </button>
    </form>
  </div>
  <div
    nz-col
    nzSpan="12"
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ff4d4f;
    "
  >
    <h1>Chào mừng đến với Todo app</h1>
    <h3>Đã có tài khoản?</h3>
    <button
      nz-button
      nzType="default"
      nzShape="round"
      nzSize="large"
      [routerLink]="['/login']"
    >
      Đăng nhập
    </button>
  </div>
</div>
